/* 
Modifiers to the defualt Bootstrap theme.
*/


body {
    background-color: #FFF9F0;
    font-family: familjen-grotesk;
}

.card {
    color: black;
    background-color: #FFF9F0;
}

.indicator_subtitle {
    font-size: 10
}