/* 
Modifiers to the default Bootstrap theme.
*/

body {
    background-color: #FFF9F0;
    font-family: "Inter", sans-serif;
}

.card {
    color: #aeaeb3;
    background-color: #FFF9F0;
}

.card-title {
    color: #2D2D32;
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: 550;
    font-size: 35px;
}

.indicator_title {
    font-family: "Familjen Grotesk", sans-serif;
    font-size: 35px;
    color: #2D2D32;
}


.indicator_value {
    font-family: "Familjen Grotesk", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #2D2D32;
}

.indicator_delta {
    font-size: 25px;
    font-family: "Inter", sans-serif;
}

.icon {
    color: #2C7BB2
}

.button {
    background-color: #003566;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #639FC6;
    color: white;
  }

.button-login {
    background-color: #ffffff;
    border: 2px #ffffff;
    border-radius: 5px;
    color: #2D2D32;
    cursor: pointer;
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 14px;
    margin: 4px 4px 4px 4px;
}

.button-login:hover {
    background-color: #dddddd;
    color: #2D2D32;
    border-color: #dddddd;
}

.nav-link{
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 14px;
    padding: 10px 15px;
    margin-right: 20px;
}
